{% extends 'base.html' %}
{% block content %}
  <h2>Attendance Summary</h2>
  <form method="get" action="{% url 'hrms:attendance_summary' %}">
    {{ filter_form.as_p }}
    <button type="submit" class="btn btn-primary">Filter</button>
  </form>
  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Employee</th>
        <th>Present</th>
        <th>Absent</th>
        <th>Annual Leave</th>
        <th>Sick Leave</th>
        <th>Other Leave</th>
      </tr>
    </thead>
    <tbody>
      {% for data in attendance_summary.values %}
      <tr>
        <td>{{ data.employee }}</td>
        <td>{{ data.present }}</td>
        <td>{{ data.absent }}</td>
        <td>{{ data.annual_leave }}</td>
        <td>{{ data.sick_leave }}</td>
        <td>{{ data.other_leave }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
