{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}HR Management{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'hrms:dashboard' %}">HR Management</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'hrms:employee_list' %}">Employees</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'hrms:department_list' %}">Departments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'hrms:position_list' %}">Positions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'hrms:document_list' %}">Documents</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'hrms:leave_request_list' %}">Leave Requests</a>
                    </li>
                </ul>
                <!-- <a class="nav-link" href="{% url 'hrms:logout' %}">Logout</a> -->
            </div>

            <!-- Include login/logout links in your navigation -->
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'hrms:logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'hrms:login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
  

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>
