{% extends 'base.html' %}

{% block title %}
{% if form.instance.pk %}Edit{% else %}Add{% endif %} Department
{% endblock %}

{% block content %}
<div class="container content-center">
    <h3>
        {% if form.instance.pk %}Edit{% else %}Add{% endif %} Department
    </h3>
    <div class="col-md-7">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" required
                    {% if form.instance.pk %}value="{{ form.instance.name }}"{% endif %}>
            </div>
            <hr>
            <button type="submit" class="btn btn-outline-primary" style="margin-right: 10px;">Save</button>
            <a href="{% url 'hrms:department_list' %}" class="btn btn-outline-secondary ml-2">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
