{% extends 'base.html' %}
{%load crispy_forms_tags %}
{% block title %}Upload Document{% endblock %}

{% block content %}
<div class="container">
    <h3>
        {% if employee %}
            Upload Document {{ employee.first_name }} {{ employee.middle_name }}
        {% else %}
            Upload New Document
        {% endif %}
    </h3>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Upload</button>
        {% if employee %}
            <a href="{% url 'hrms:employee_list' %}" class="btn btn-secondary ml-2">Cancel</a>
        {% else %}
            <a href="{% url 'hrms:document_list' %}" class="btn btn-secondary ml-2">Cancel</a>
        {% endif %}
    </form>
</div>
{% endblock %}
