{% extends 'base.html' %}
{% block title %}Employees{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <a href="{% url 'hrms:employee_create' %}" class="btn btn-outline-primary mb-3">Add Employee</a>
        </div>
        
        <div class="col-md-9">
            <form class="d-flex" method="GET" action="{% url 'hrms:employee_list' %}">
                <input class="form-control me-2" type="search" placeholder="Search by name" aria-label="Search" name="q" value="{{ request.GET.q }}">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="department-filter">Filter by Department:</label>
            <form method="GET" action="{% url 'hrms:employee_list' %}" id="department-filter-form">
                <select class="form-select mb-3" id="department-filter" name="department">
                    <option value="">All Departments</option>
                    {% for department in departments %}
                        <option value="{{ department.id }}" {% if department.id == selected_department %}selected{% endif %}>{{ department.name }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </div>

    <div class="col-md-12 d-flex justify-content-between align-items-center">
        <div class="col-md-9 text-center">
            <h2>Employee Lists</h2>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Employee Status
            </button>
            <div class="dropdown-menu" style="background-color: #159b3d; color: white;">
                <a class="dropdown-item" href="{% url 'hrms:employee_list' %}">Active</a>
                <a class="dropdown-item" href="{% url 'hrms:employee_list' %}?status=inactive">Inactive</a>
                <a class="dropdown-item" href="{% url 'hrms:employee_list' %}?status=all">All</a>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Department</th>
                    <th>Service Period</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="employee-table-body">
                {% for employee in employees %}
                <tr data-department-id="{{ employee.department.id }}">
                    <td><a href="{% url 'hrms:employee_detail' employee.pk %}">{{ employee.first_name }} {{ employee.middle_name }}</a></td>
                    <td>{{ employee.position }}</td>
                    <td>{{ employee.department.name }}</td>
                    <td>{{ employee.period_of_service }}</td>
                    <td>
                        <a href="{% url 'hrms:employee_update' employee.pk %}" class="btn btn-outline-dark btn-sm" style="margin-right: 10px;">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if is_paginated %}
        <ul class="pagination">
            {% if employees.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ employees.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.department %}&department={{ request.GET.department }}{% endif %}">Previous</a>
            </li>
            {% endif %}
            {% for num in employees.paginator.page_range %}
            {% if employees.number == num %}
            <li class="page-item active" aria-current="page">
                <span class="page-link">{{ num }}</span>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.department %}&department={{ request.GET.department }}{% endif %}">{{ num }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if employees.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ employees.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.department %}&department={{ request.GET.department }}{% endif %}">Next</a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</div>

<script>
    document.getElementById('department-filter').addEventListener('change', function() {
        document.getElementById('department-filter-form').submit();
    });
</script>

{% endblock %}
