{% extends 'base.html' %}

{% block title %}Positions{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center">
        <div class="col-8">
        <div class="text-center"><h3>Positions</h3></div>
        <a href="{% url 'hrms:position_create' %}" class="btn btn-outline-primary mb-3">Add Position</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for position in page_obj %}
                <tr>
                    <td>{{ position.name }}</td>
                    <td>
                        <a href="{% url 'hrms:position_update' pk=position.pk %}" class="btn btn-outline-dark btn-sm" style="margin-right: 10px;">Edit</a>
                        <a href="{% url 'hrms:position_delete' pk=position.pk %}" class="btn btn-outline-danger btn-sm" onclick="return confirm('Are you sure you want to delete this position?')">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if page_obj.has_other_pages %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">{{ num }}</span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
</div>
{% endblock %}
